.helper {
  
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1000;
  width: 0;
  height: 10px;
  padding: 0; 
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  vertical-align: top;
  
}