.shinyhelper-wrapper {
  
  position: relative;
  
}

.shinyhelper-container {
  
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 900;
  width: 0;
  height: 10px;
  padding: 0; 
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  vertical-align: top;
  color: #0a3a87;
  
}